<div class="card card_padding">
  <h2 class="h2 h2_space-bottom" *ngIf="isCreateMode">Create new user</h2>
  <h2 class="h2 h2_space-bottom" *ngIf="isUpdateMode">
    {{ user.firstName }} {{ user.lastName }}
  </h2>
  <form (ngSubmit)="onSubmit()" data-testid="form" [formGroup]="userForm">
    <div class="form-control">
      <label class="label" for=""
        >Username<span class="label_hint">*</span></label
      >
      <input
        class="input"
        type="text"
        data-testid="username"
        formControlName="username"
        appFormControlValidationMsg
        validationMsgId="username"
      />
    </div>
    <div class="form-control">
      <label class="label" for=""
        >First name<span class="label_hint">*</span></label
      >
      <input
        class="input"
        type="text"
        data-testid="firstName"
        formControlName="firstName"
        appFormControlValidationMsg
        validationMsgId="firstName"
      />
    </div>
    <div class="form-control">
      <label class="label" for=""
        >Last name<span class="label_hint">*</span></label
      >
      <input
        class="input"
        type="text"
        data-testid="lastName"
        formControlName="lastName"
        appFormControlValidationMsg
        validationMsgId="lastName"
      />
    </div>
    <div class="form-control">
      <label class="label" for="">Email<span class="label_hint">*</span></label>
      <input
        class="input"
        type="text"
        formControlName="email"
        data-testid="email"
        appFormControlValidationMsg
        validationMsgId="email"
      />
    </div>
    <div class="form-control">
      <label class="label" for="">Type<span class="label_hint">*</span></label>
      <select
        class="select"
        data-testid="type"
        formControlName="type"
        appFormControlValidationMsg
        validationMsgId="type"
      >
        <option value="Admin">Admin</option>
        <option value="Driver">Driver</option>
      </select>
    </div>
    <div class="form-control">
      <label class="label" for=""
        >Password<span class="label_hint">*</span></label
      >
      <input
        class="input"
        type="password"
        data-testid="password"
        formControlName="password"
        appFormControlValidationMsg
        validationMsgId="password"
      />
    </div>
    <div class="form-control">
      <label class="label" for=""
        >Repeat password<span class="label_hint">*</span></label
      >
      <input
        class="input"
        type="password"
        formControlName="repeatPassword"
        data-testid="repeatPassword"
        appFormControlValidationMsg
        validationMsgId="repeatPassword"
      />
      <span
        *ngIf="(repeatPassword.dirty || password.dirty) && userForm.errors?.['repeatPassword']"
        class="hint hint-error"
        >Repeat password should match to password</span
      >
    </div>

    <div class="footer">
      <button
        *ngIf="isCreateMode"
        class="button button_color-primary button_center"
        type="submit"
        [disabled]="isFormDisabled"
        appFormSubmitValidationMsg
        [validationControl]="userForm"
      >
        Create
      </button>
      <button
        *ngIf="isUpdateMode"
        type="button"
        class="button button_color-danger"
        (click)="onDelete(user)"
      >
        Delete
      </button>
      <button
        *ngIf="isUpdateMode"
        class="button button_color-primary"
        type="submit"
        [disabled]="isFormDisabled"
        appFormSubmitValidationMsg
        [validationControl]="userForm"
      >
        Save
      </button>
    </div>
  </form>
</div>
