<h1 *ngIf="isCreateMode">Create new user</h1>
<h1 *ngIf="isUpdateMode">{{user.firstName}} {{user.lastName}}</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="userForm">
  <input type="text" formControlName="username" />
  <input type="text" formControlName="firstName" />
  <input type="text" formControlName="lastName" />
  <input type="email" formControlName="email" />
  <input type="password" formControlName="password" />
  <select formControlName="type">
    <option value="Admin">Admin</option>
    <option value="Driver">Driver</option>
  </select>
  <button *ngIf="isUpdateMode" type="submit" (click)="onDelete(user)">Delete</button>
  <button *ngIf="isUpdateMode" type="submit" [disabled]="!userForm.valid">Save</button>
  <button *ngIf="isCreateMode" type="submit" [disabled]="!userForm.valid">Create</button>
</form>
