:root {
  --primary-color: #2e8ff0;
  --danger-color: #f44682;
  --white-color: #fff;
  --grey-color: #eef0f8;
  --grey--color-light: #f4f5f8;
  --grey-color-text: #a4a4b5;
  --grey-color-dark: #999;
  --black-color: #000;
}
