:root {
  --primary-color: #2e8ff0;
  --danger-color: #f44682;
  --white-color: #fff;
  --grey-color: #eef0f8;
  --grey--color-light: #f4f5f8;
  --grey-color-text: #a4a4b5;
  --black-color: #000;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 14px;
}

.header {
  grid-area: header;
}
.content__left {
  grid-area: main;
}
.content__right {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}

.content {
  padding: 30px;
  min-width: 400px;
  height: 100%;
  display: grid;
  column-gap: 26px;
  row-gap: 16px;
  grid-template-columns: auto 584px;
  grid-template-rows: 50px 711px 50px;
  grid-template-areas:
    "header ."
    "main sidebar"
    "footer footer";
}

.body_background_primary {
  background-color: var(--grey-color);
}
.button {
  cursor: pointer;
  padding: 16px;
  min-width: 120px;
  box-shadow: 0px 5px 8px #2e8ff029;
  border-radius: 6px;
  text-align: center;
}

.button_color-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.button_color-danger {
  background-color: var(--danger-color);
  color: var(--white-color);
}
.card {
  overflow: auto;
  box-shadow: 0px 0px 30px #523f690d;
  border-radius: 6px;
  background-color: var(--white-color);
  height: 100%;
}
.card_padding {
  padding: 26px;
}
.table {
  width: 100%;
}
.thead {
  color: var(--grey-color-text);
  text-align: left;
  text-transform: uppercase;
}
.table th,
.table td {
  padding: 22px 26px;
}
.tbody tr {
  color: pointer;
  background-color: var(--grey--color-light);
  border-bottom: 2px solid var(--white-color);
}
.tfoot {
  display: block;
  min-height: 60px;
}
.input, .select {
  border-radius: 6px;
  height: 46px;
  width: 100%;
  background-color: var(--grey--color-light);
  padding-left: 10px;
  padding-right: 10px;
}
.form-control {
  margin-bottom: 10px;
}
.form-control_error .input,
.form-control_error .select {
  border: 1px solid var(--danger-color);
}
.label {
  font: normal normal normal 13px/16px Helvetica;
  color: var(--grey-color-text);
}
.hint {
  display: block;
  font: normal normal normal 13px/16px Helvetica;
  color: var(--grey-color-text);
}
.hint-error {
  color: var(--danger-color);
}
.footer {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.button_center {
  display: flex;
  margin: auto;
}
.button_right {
  margin-left: auto;
  display: flex;
}
.h2 {
  font: normal normal bold 16px/19px Helvetica;
}
.h2_space-bottom {
  margin-bottom: 28px;
}
